<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.overstock.android.prototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".main.OAppPrototypeApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_o"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/OappTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BrandActivity"
            android:label="@string/title_brand_activity"
            android:parentActivityName=".activity.FeedActivity" />
        <activity
            android:name=".activity.CommunityActivity"
            android:label="@string/title_activity_communities" />
        <activity
            android:name=".activity.FeedActivity"
            android:label="@string/feed_activity" />
        <activity
            android:name=".activity.ProductDetailActivity"
            android:label="@string/product_detail_activity"
            android:parentActivityName=".activity.BrandActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="372bb106d2b08c1397aca42017e7515e8c9afa4f" />

    </application>

</manifest>
