<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.overstock.android.prototype"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".main.OAppPrototypeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/OappTheme">

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BrandActivity"
            android:label="@string/title_brand_activity">
        </activity>

        <activity
            android:name=".activity.CommunitiesActivity"
            android:label="@string/title_activity_communities">
        </activity>

        <activity
            android:name=".activity.FeedActivity"
            android:label="@string/feed_activity">
        </activity>

        <activity
            android:name=".activity.SharedElementActivity"
            android:label="@string/feed_activity">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="372bb106d2b08c1397aca42017e7515e8c9afa4f"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>